<p>address works!</p>
<div>
  <button mat-button (click)="openDialog()" color="primary">Thêm</button>
</div>
<div *ngIf="columnsToDisplay">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef> {{properties[column]?.alias}} </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="column !== 'action'">
          <!-- if id-->
          <div *ngIf="column === 'id'">
            <span>
              {{ element[column]?.slice(0, 5)}}
            </span>
          </div>
          <!-- else id-->
          <div *ngIf="column !== 'id'">
            <!-- if -->
            <div *ngIf="properties[column].reference !== undefined">
              <div *ngIf="properties[column].reference.api_url">
                {{ element[properties[column].reference.table] &&
                element[properties[column].reference.table][properties[column].reference.label]}}
              </div>
              <div *ngIf="!properties[column].reference.api_url">
                {{ properties[column].data | filterUserRole : element[column] }}
              </div>
            </div>
            <!-- else -->
            <div *ngIf="properties[column].reference === undefined">
              <span>
                {{ element[column]}}
              </span>
            </div>
          </div>
        </div>
        <div *ngIf="column === 'action'">
          <button mat-stroked-button (click)="openDialog(element)" color="">Sửa</button>
          <button mat-stroked-button (click)="confirmDialog(element)" color="warn">Xóa</button>
        </div>
      </td>
    </ng-container>
 
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
     
  </table>
</div>
