.tieude {
    color:#666;
}
.form {
    padding-left: 11rem;
}
.mat-form-field {
    width: 40%;
    margin-right: 15px;
    font-size: 13px;
}
.example-full-width {
    width: 81%;
}
span {
    color: #666;
    font-size: 12px;
}
