.example-full-width {
    width: 100%;
}

.tieude {
    color: white;
}
.form {
    padding-left: 3rem;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: black;
}
.mat-form-field {
    width: 40%;
    margin-right: 15px;
    font-size: 10px;
    color: #fff;
}

span {
    color: #666;
    font-size: 12px;
}
