.example-card {
    width: 80%;
    margin: 0 auto;
    font-family: serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #2c2f36;
    display: inline-block;
    width: 100%;
    line-height: 1.5;

    .pre-wrap {
        word-wrap: break-word; /* IE 5.5-7 */
        white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
        white-space: pre-wrap; /* current browsers */
        font-family: serif;
        font-size: 14px;
    }
    .pre-wrap2 {
        word-wrap: break-word; /* IE 5.5-7 */
        white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
        white-space: pre-wrap; /* current browsers */
        font-family: serif;
        font-size: 14px;
        line-height: 1;
    }
    .example-header-image {
        background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
        background-size: cover;
    }
    .example-full-width {
        width: 100%;
    }

    span {
        color: #2c2f36;
    }
    .reply {
        margin-left: 2rem;
    }
}
.total {
    width: 1000px;
    margin-left: 150px;
}
.product {
    width: 600px;
}
.comment {
    width: 600px;
}
img {
    height: 400px;
    margin-top: 50px;
}
.mat-card-title{
    text-transform: uppercase;
    color: #055699;
    margin: 0 auto;
}
