<mat-toolbar color="primary">
    <div [routerLink]="['/']" routerLinkActive="router-link-active" > <span>Real Estate</span></div>
   

    <span class="example-padding"></span>
    <div *ngFor="let menu of menus" >
        <button mat-button [routerLink]="[menu.path]">{{menu.name}}</button>
    </div>

    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" 
    [routerLink]="['/client/create-real-estate']" routerLinkActive="router-link-active" 
    aria-label="Example icon-button with heart icon">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>

    <button mat-button [matMenuTriggerFor]="menu">Hieu Nguyen Khac Minh</button>
<mat-menu #menu="matMenu">
  <a mat-menu-item [routerLink]="['/client/manager']" routerLinkActive="router-link-active" >Quản lý tài khoản</a>
  <button mat-menu-item>Đăng xuất</button>
</mat-menu>
</mat-toolbar>