<mat-toolbar color="primary">
    <div [routerLink]="['/']" routerLinkActive="router-link-active"> <span>Real Estate</span></div>


    <span class="example-padding"></span>
    <div *ngFor="let menu of menus">
        <button mat-button [routerLink]="[menu.path]" style="font-size: 12px;">{{menu.name}}</button>
    </div>

    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" [routerLink]="['/client/create-real-estate']"
        routerLinkActive="router-link-active" aria-label="Example icon-button with heart icon">
        <mat-icon>add</mat-icon>
    </button>

    <button mat-icon-button class="example-icon favorite-icon" [routerLink]="['/client/manager/wishlist']"
    routerLinkActive="router-link-active" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
</button>
<button mat-icon-button class="example-icon favorite-icon" [routerLink]="['/client/manager/notification']"
routerLinkActive="router-link-active" aria-label="Example icon-button with heart icon">
<mat-icon>notifications_active</mat-icon>
</button>
    <button *ngIf="!userId" [routerLink]="['/auth/login']" routerLinkActive="router-link-active" mat-button
        class="example-icon" aria-label="Example icon-button with share icon">
        Login
    </button>

    <button mat-button [matMenuTriggerFor]="menu">{{user.fullname}}</button>
    <mat-menu #menu="matMenu">
        <a mat-menu-item [routerLink]="['/client/manager']" routerLinkActive="router-link-active">Quản lý tài khoản</a>
        <button mat-menu-item (click)="signOut()">Đăng xuất</button>
    </mat-menu>
</mat-toolbar>