<mat-toolbar color="primary">
    <span>Real Estate</span>

    <span class="example-padding"></span>
    <div *ngFor="let menu of menus" style="margin-right: 30px;font-size: 30px;">
        <button mat-button [routerLink]="[menu.path]" routerLinkActive="router-link-active">{{menu.name}}</button>
    </div>

    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" 
    [routerLink]="['/client/create-real-estate']" routerLinkActive="router-link-active" 
    aria-label="Example icon-button with heart icon">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>