<div *ngIf="dataSource">
    <mat-card>
        <mat-card-content *ngIf="columns">

            <div *ngFor="let column of columns">
                <div *ngIf="column !== 'id'">
                    <div *ngIf="properties[column].type ==='textarea'">
                        <mat-form-field>
                            <mat-label> {{properties[column].alias}}</mat-label>
                            <textarea matInput [matAutosize]=true [rows]="properties[column].row_number"
                                [(ngModel)]="dataSource[column]"></textarea>
                        </mat-form-field>
                    </div>
                    <div *ngIf="properties[column].type !=='textarea'">

                        <div *ngIf="properties[column].type ==='dropdown' || properties[column].type ==='radio'">
                            <div *ngIf="properties[column].data">
                                <mat-form-field appearance="fill">
                                    <mat-label>{{properties[column].alias}}</mat-label>
                                    <mat-select [(ngModel)]="dataSource[column]">
                                        <mat-option *ngFor="let food of properties[column].data"
                                            [value]="food[properties[column].reference.value]">
                                            {{food[properties[column].reference.label]}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- else radio -->
                        <div *ngIf="properties[column].type !=='dropdown'">
 
                            <div *ngIf="properties[column].type !=='radio'">

                                <mat-form-field>
                                    <mat-label> {{properties[column].alias}}</mat-label>
                                    <input matInput [(ngModel)]="dataSource[column]">
                                </mat-form-field></div>
                        </div>


                    </div>
                </div>
            </div>
            <mat-card-action >
                <button  mat-button cdkFocusInitial (click)="updateCompany()" [routerLink]="['../list']" routerLinkActive="router-link-active" >Save</button>
                <button  mat-button [routerLink]="['../list']" routerLinkActive="router-link-active" >Cancel</button>
            </mat-card-action>
        </mat-card-content>
    </mat-card>
</div>