<div class="total">
    <div *ngIf="project" class="project">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>{{project.name}}</mat-card-title>
            </mat-card-header>
            <div style="float: left;">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu" style="margin-top:30px">
           
            <p style="color: #055699;" ><b>GIỚI THIỆU DỰ ÁN</b></p>
            <mat-card-content>
                <pre class="pre-wrap">
                {{project.description}}
            </pre>
            </mat-card-content>
        </div>
            <div>
                <h4 style="color: #055699;"><b>THÔNG TIN DỰ ÁN</b></h4>
                <!-- <pre>Tên dự án: <a [routerLink]="['/client/projects/', product.project.id]" routerLinkActive="router-link-active" >{{product.project.name}}</a></pre> -->
                <pre class="pre-wrap2"><span style="color:#5F6666;"><b> Tên dự án:</b></span> {{project.name}}</pre> 
                <pre class="pre-wrap2"><span style="color:#5F6666;"><b> Tổng diện tích:</b></span> {{project.total_area}}</pre>
                <pre class="pre-wrap2"><span style="color:#5F6666;"><b> Loại hình dự án:</b></span> {{project.projectType.name}}</pre>
                <pre class="pre-wrap2"><span style="color:#5F6666;"><b> Đơn vị phân phối:</b></span> {{project.distribution_unit}}</pre>
                <pre class="pre-wrap2"><span style="color:#5F6666;"><b> Địa chỉ:</b></span> {{project.address?.home_number}} - {{project.address?.street}} - {{project.wards?.name}} - {{project.district?.name}} - {{project.city?.name}} - {{project.country?.name}}</pre>
                <pre class="pre-wrap2"><span style="color:#5F6666;"><b> Thuộc các tin rao bán: </b></span></pre> 
                    <div *ngFor="let product of project.products">
                    <div *ngIf=" product.project_id === project.id">
                        <a [routerLink]="['../../real-estate', product.id]" 
                        routerLinkActive="router-link-active">
                            {{product.sub_title}}</a>
                    </div>
                </div>
            </div>
           
            <!-- <p><b>Thông tin dự án</b></p>
            <pre>Loại tin đăng: {{product.product_type}}</pre>
            <pre>Địa chỉ: {{product.home_number}},{{product.street}},{{product.wards}}</pre>
            <pre>Đường vào: {{product.entry_width}} mét</pre>
            <pre>Mặt tiền: {{product.facade}} mặt tiền</pre> -->
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="comment">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>

            </mat-card-header>

            <mat-card-content>
                <p>
                    Bất động sản giá bao nhiêu
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>REPLY</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card reply">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>

            </mat-card-header>

            <mat-card-content>
                <p>
                   Căn hộ đẹp quá
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>REPLY</button>
            </mat-card-actions>
        </mat-card>
        <<mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>

                <mat-form-field class="example-full-width">
                    <mat-label>Leave a comment</mat-label>
                    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>SEND</button>
            </mat-card-actions>
            </mat-card>
    </div>
</div>





<!-- <div *ngIf="project" class="project"> -->
   
    <!-- <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>
                {{project.name}}
            </mat-card-title>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
        </mat-card-header>
        <mat-card-content>
            <!-- <p>
                {{project.address?.home_number}}, {{project.address?.street}} - {{project.wards?.name}} -
                {{project.district?.name}} - {{project.city?.name}} - {{project.country?.name}}
            </p>
            <p>
                Tổng diện tích: {{project.total_area}} m²
            <!-- </p> -->
            <!-- <pre class="pre-wrap">
                {{project.description}}
            </pre>
        </mat-card-content>
    </mat-card>

    <h3> TIN RAO THUỘC DỰ ÁN </h3>
    <mat-card *ngFor="let product of project.products">
        <mat-card-content>
            <a [routerLink]="['../../real-estate', product.id]" routerLinkActive="router-link-active">
                {{product.sub_title}}</a>
        </mat-card-content>
    </mat-card>
</div> --> --> -->
