.footer {
    height: 200px;
}
h3{
    
    border: 2px solid;
    border-top-right-radius:25px ;
    width: 330px;
    margin-top: 5px;
    text-align: center;
    font-size: 12px;
    height: 23px;
    background-color:rgb(177, 175, 175) ;
    color:white;
}