admin component
<app-admin-menu></app-admin-menu>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <button mat-button matLine [routerLink]="['/admin/product']"
          routerLinkActive="router-link-active">Sản phẩm</button>
      </mat-list-item>

      <mat-list-item role="listitem">
        <button mat-button matLine [routerLink]="['/admin/project']"
          routerLinkActive="router-link-active">Dự án</button>
      </mat-list-item>

      <mat-list-item role="listitem">
        CMS
      </mat-list-item>
      <mat-list-item role="listitem">
        <button mat-button matLine [routerLink]="['/admin/page']"
          routerLinkActive="router-link-active">Trang</button>
      </mat-list-item>

      <mat-list-item role="listitem">
        <button mat-button matLine [routerLink]="['/admin/post']"
          routerLinkActive="router-link-active">Bài viết</button>
      </mat-list-item>

      
      <mat-list-item role="listitem">
        <button mat-button matLine [routerLink]="['/admin/comment']"
          routerLinkActive="router-link-active">Bình luận</button>
      </mat-list-item>

      <mat-list-item role="listitem">
        CRM
      </mat-list-item>
      <mat-list-item role="listitem">
        <button mat-button matLine [routerLink]="['/admin/lead']" routerLinkActive="router-link-active">Lead</button>
      </mat-list-item>


      <mat-list-item role="listitem">
        <button mat-button matLine [routerLink]="['/admin/organization']"
          routerLinkActive="router-link-active">Organization
        </button>
      </mat-list-item>

      <mat-list-item role="listitem">
        <button mat-button matLine [routerLink]="['/admin/opportunity']"
          routerLinkActive="router-link-active">Opportunity
        </button>
      </mat-list-item>

      <mat-list-item role="listitem">
        <button mat-button matLine [routerLink]="['/admin/contact']"
          routerLinkActive="router-link-active">Contact
        </button>
      </mat-list-item>

      <mat-list-item role="listitem">
        MASTER DATA
      </mat-list-item>
      <mat-list-item role="listitem">
        <button mat-button matLine [routerLink]="['/admin/category']"
          routerLinkActive="router-link-active">Danh mục</button>
      </mat-list-item>

      <mat-list-item role="listitem">
        <button mat-button matLine [routerLink]="['/admin/balcony-direction']"
          routerLinkActive="router-link-active">Hướng ban công</button>
      </mat-list-item>

      <mat-list-item role="listitem">
        <button mat-button matLine [routerLink]="['/admin/house-direstion']"
          routerLinkActive="router-link-active">Hướng nhà</button>
      </mat-list-item>

      <mat-list-item role="listitem">
        <button mat-button matLine [routerLink]="['/admin/formality']"
          routerLinkActive="router-link-active">Hình thức</button>
      </mat-list-item>

      <mat-list-item role="listitem">
        <button mat-button matLine [routerLink]="['/admin/country']"
          routerLinkActive="router-link-active">Quốc gia</button>
      </mat-list-item>
      <mat-list-item role="listitem">
        <button mat-button matLine [routerLink]="['/admin/province-city']"
          routerLinkActive="router-link-active">Tỉnh/thành phố thuộc tỉnh</button>
      </mat-list-item>

      <mat-list-item role="listitem">
      <button mat-button matLine [routerLink]="['/admin/district']"
        routerLinkActive="router-link-active">Quận/Huyện/Thành phố thuộc tỉnh</button>
      </mat-list-item>

      <mat-list-item role="listitem">
      <button mat-button matLine [routerLink]="['/admin/wards']"
        routerLinkActive="router-link-active">Phường/Xã</button>
      </mat-list-item>


      <mat-list-item role="listitem">
        <button mat-button matLine [routerLink]="['/admin/read-status']"
          routerLinkActive="router-link-active">Trạng thái đọc</button>
      </mat-list-item>
       
      <mat-list-item role="listitem">
        <button mat-button matLine [routerLink]="['/admin/menu']"
          routerLinkActive="router-link-active">Menu</button>
      </mat-list-item>


      <mat-list-item role="listitem">
        <button mat-button matLine [routerLink]="['/admin/widget']"
          routerLinkActive="router-link-active">Widget</button>
      </mat-list-item>

      <mat-list-item role="listitem">
        <button mat-button matLine [routerLink]="['/admin/hashtag']"
          routerLinkActive="router-link-active">Hashtag</button>
      </mat-list-item>

      <mat-list-item role="listitem">
        <button mat-button matLine [routerLink]="['/admin/file']"
          routerLinkActive="router-link-active">File</button>
      </mat-list-item>

      <mat-list-item role="listitem">
        <button mat-button matLine [routerLink]="['/admin/user']"
          routerLinkActive="router-link-active">User</button>
      </mat-list-item>

      <mat-list-item role="listitem">
        <button mat-button matLine [routerLink]="['/admin/status']"
          routerLinkActive="router-link-active">Status
        </button>
      </mat-list-item>

      <mat-list-item role="listitem">
        <button mat-button matLine [routerLink]="['/admin/message']"
          routerLinkActive="router-link-active">Message
        </button>
      </mat-list-item>

      <mat-list-item role="listitem">
        <button mat-button matLine [routerLink]="['/admin/dashboarch']"
          routerLinkActive="router-link-active">DashBoard
        </button>
      </mat-list-item>

      <mat-list-item role="listitem">
        <button mat-button matLine [routerLink]="['/admin/report-widget']"
          routerLinkActive="router-link-active">ReportWidget
        </button>
      </mat-list-item>
    </mat-list>


  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>