.real-estate {
    .example-card {
        border: 1px solid #fff;
        margin-bottom: 2px;
       
        .example-header-image {
            background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
            background-size: cover;
        }

        .m-l-1 {
            margin-left: 1rem;
        }
    }
    .flex {
        display: flex;

        .mat-card-image {
            width: 100px;
            border-radius: 5%;
            margin: 0;
        }
        .content {
            margin: 0 16px;
        }
    }
}
