.project-items {
    display: flex;
    .project-item {
        width: 25%;
        word-wrap: break-word; /* IE 5.5-7 */
        white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
        white-space: pre-wrap; /* current browsers */
    }

    .mat-card-image {
        padding: 1rem;
        border-radius: 10%;
        height: 150px;
    }
}
