<mat-toolbar color="primary">
  <div [routerLink]="['/']" routerLinkActive="router-link-active"> <span>Real Estate</span></div>
  <span class="example-padding"></span>
</mat-toolbar>


<div>

  <mat-card class="example-card">
    <!-- <h1 style="margin: auto;">{{product.product_type.name}}</h1> -->
    <mat-card-header>
      <mat-card-title style="color: #055698;">Đăng ký tài khoản</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="flex">

        <mat-radio-group aria-label="Select an option" [(ngModel)]="company">
          <mat-radio-button [value]="1" selected title="Người dùng thuộc tổ chức đã tồn tại trong hệ thống">Nhân viên</mat-radio-button>
          <mat-radio-button [value]="2" title="Người dùng không thuộc tổ chức đã tồn tại trong hệ thống">Chủ doanh nghiệp</mat-radio-button>
          <mat-radio-button [value]="3" title="Người dùng cá nhân">Cá nhân</mat-radio-button>
        </mat-radio-group><br>

        <mat-form-field *ngIf="company == 2">
          <mat-label>Tên công ty</mat-label>
          <input matInput [(ngModel)]="user.company_name" id="lemail" required="">
        </mat-form-field>

        <mat-form-field *ngIf="company == 1">
          <mat-label>Domain</mat-label>
          <input matInput [(ngModel)]="user.domain" id="lemail" required="">
        </mat-form-field><br>


        <mat-form-field>
          <mat-label>Họ và tên</mat-label>
          <input matInput [(ngModel)]="user.full_name" id="lemail" required="">
        </mat-form-field><br>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="user.email" id="lemail" required="">
        </mat-form-field><br>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input type="password" matInput [(ngModel)]="user.password" id="lemail" required="">
          <mat-error *ngIf="message">
            Mật khẩu ít nhất 6 ký tự bao gồm 1 chữ cái và số
          </mat-error>
        </mat-form-field>
        <div *ngIf="message " style="color:red">{{message}}</div>
      </div>
    </mat-card-content>
    <mat-card-actions style="text-align: center;">
      <button mat-raised-button color="primary"  (click)="save()">Đăng ký</button>
      <br />
      Đã có tài khoản<a mat-flat-button class="btn-outline-sm" [routerLink]="['/auth/login']"
        routerLinkActive="router-link-active">Đăng
        nhập</a>
    </mat-card-actions>
  </mat-card>
</div>