<!-- Hello world!! -->

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="true">
        <mat-list role="list">

            <mat-list-item role="listitem" style="background:#8189b7;color:white">
                CÁ NHÂN
            </mat-list-item>

            <mat-list-item role="listitem">
                <a matLine [routerLink]="['/client/manager/profile']"
                    routerLinkActive="router-link-active">Hồ sơ</a>
            </mat-list-item>
            <mat-list-item role="listitem">
                <a matLine [routerLink]="['/client/manager/notification']"
                    routerLinkActive="router-link-active">Thông báo</a>
            </mat-list-item>
            <mat-list-item role="listitem" style="background:#8189b7;color:white">
                QUẢN LÝ TÀ KHOẢN
            </mat-list-item>
            <mat-list-item role="listitem">
                <a matLine [routerLink]="['/client/manager/company']"
                    routerLinkActive="router-link-active">Company</a>
            </mat-list-item>
            <mat-list-item role="listitem">
                <a matLine [routerLink]="['/client/manager/users']"
                    routerLinkActive="router-link-active">User</a>
            </mat-list-item>
            <mat-list-item role="listitem" style="background:#8189b7;color:white">
                QUẢN LY CRM
            </mat-list-item>
            <mat-list-item role="listitem">
                <a matLine [routerLink]="['/client/manager/lead']"
                    routerLinkActive="router-link-active">Lead</a>
            </mat-list-item>
            <mat-list-item role="listitem">
                <a matLine [routerLink]="['/client/manager/contact']"
                    routerLinkActive="router-link-active">Contact</a>
            </mat-list-item>
            <mat-list-item role="listitem">
                <a matLine [routerLink]="['/client/manager/opportunity']"
                    routerLinkActive="router-link-active">Opportunity</a>
            </mat-list-item>
            <mat-list-item role="listitem" style="background:#8189b7;color:white">
                QUẢN LÝ BÀI VIẾT
            </mat-list-item>
            <mat-list-item role="listitem">
                <a matLine [routerLink]="['/client/manager/post']"
                    routerLinkActive="router-link-active">Bài viết</a>
            </mat-list-item>
            <mat-list-item role="listitem">
                <a matLine [routerLink]="['/client/manager/real-estate/list']"
                    routerLinkActive="router-link-active">Nhà đất bán/cho thuê</a>
            </mat-list-item>
            <mat-list-item role="listitem">
                <a matLine [routerLink]="['/client/manager/buy-hire/list']"
                    routerLinkActive="router-link-active">Nhà đất cần mua/ thuê</a>
            </mat-list-item>
            <mat-list-item role="listitem" style="background:#8189b7;color:white">
                CÀI ĐẶT
            </mat-list-item>
            <mat-list-item role="listitem">
                <a matLine [routerLink]="['/client/manager/pipeline']"
                    routerLinkActive="router-link-active">Pipeline</a>
            </mat-list-item>
        </mat-list>


    </mat-drawer>

    <div class="example-sidenav-content">
        <button type="button" mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        hello

        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>