example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  // display: flex;
  height: calc(100vh - 50px);
  // align-items: center;
  // justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

a{
  text-decoration: none;
  color: rgb(79, 79, 248);
}
a:active{
  color: dimgray;
}
mat-list-item:hover {
 background-color: rgb(197, 184, 184);
}

