<div class="category-post">
    <mat-card class="example-card" *ngFor="let product of products">
        <div class="content">
            <mat-card-header>
                <mat-card-title [routerLink]="['../../../real-estate', product.id]"
                    routerLinkActive="router-link-active" style="color:rgb(158, 27, 27);text-transform: uppercase;">
                    {{product.title}}</mat-card-title>
            </mat-card-header>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content *ngIf="!edit">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu" style="height: 150px;width: 200px;margin-left: 0px; margin-top: 5px;">
                <p class="pre-wrap">
                    {{product.sub_description}}
                </p>
                <div>
                    <div *ngIf="product.price && product.product_unit">
                        <span><b>Giá: {{product.price}} {{product.product_unit.name}}</b></span>
                    </div>
                    <span class="m-l-1"><b> | Diện tích: {{product.acreage}} m²</b></span>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <!-- <button mat-button [routerLink]="['../', product.id]" routerLinkActive="router-link-active" >Edit</button> -->
                <button mat-button style="color: rgb(158, 27, 27);">Bỏ yêu thích</button>
            </mat-card-actions>
        </div>
    </mat-card>
</div>